@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #000000;
    --Branco-Fantasma: #FAFAFA;
    --fonte-primaria: "Inter";
    --fonte-secundaria: "Poppins";
}

/* Cabeçario */

.cabecario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 7vw;
}

.cabecario__logo{
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-size: 24px;
    color: var(--preto);
}

.cabecario__menu__link{
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--preto);
    padding: 1vw;
}

.cabecario__menu__link:hover{
    text-decoration: underline;
}

.cabecario__busca{
    align-items: center;
}

.cabecario__busca__input{
    border: transparent;
}
.cabecario__busca__input::placeholder{
    width: 100%;
}

.cabecario__busca__icone{
    width: 1.3vw;
}

.cabecario__icone__link{
    padding: 1vw;
}

/* bunner */
.pagina__bunner{
    display: flex;
    justify-content: space-between;
}

.pagina__lista__tegs{
    display: grid;
    margin: 1vw 7vw;
} 

.pagina__lista__link{
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--preto);
}

.pagina__lista__link:hover{
    text-decoration: underline;
}

.pagina__imagem__bunner{
    margin: 0 4vw 0 1vw ;
}

.pagina__imagem__link__icone{
    position: absolute;
    top: 80.1%;
    right: 60vw;
}

.pagina__imagem__link{
    position: absolute;
    top: 80%;
    right: 62.7vw;
    text-decoration: none;
    color: var(--Branco-Fantasma);
    font-family: var(--fonte-secundaria);
    font-weight: 500;
}

.pagina__imagem__link:hover{
    text-decoration: underline;
}